#content{
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
}


label{
  display: inline-block;
  margin-top: 1%;
  width: 4%;
  min-width: 80px;
}

button{
  margin-top: 1%;
}

body{
  min-width: 300px;
  min-height: 200px;
}

form:last-child{
min-width: 200px;
}

#bmi{
  margin-top: 1%;
  color:darkred;
}

